@model IEnumerable<ToDo.Models.Task>

@section Nav
{
    <li>
        <p class="navbar-btn">
            @Html.ActionLink("New task", "Create", new { controller = "Task" }, new { @class = "btn btn-success" })
        </p>
    </li>
}

<div class="row" style="height: 100%">
    <div class="col-md-3 yesterday smaller full-height">
        <h3 class="text-center">Yesterday</h3>
        @foreach (var item in Model.Where(x => x.Date.Date == (DateTime.Now.Date.AddDays(-1))))
        {
            <div class="task @(item.IsDone ? "done" : "")">
                <p class="text-right">
                    <a href="@Url.Action("Remove", "Task", new {id = item.Id})" class="btn btn-danger small-btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </p>
                <h4><b>@item.Name</b></h4>
                <hr/>
                <p>
                    @(item.Description != null ? Html.Raw(item.Description.Replace("\n", "<br/>")) : new MvcHtmlString(""))
                </p>
            </div>
        }
    </div>
    <div class="col-md-6 today full-height">
        <h3 class="text-center">Today</h3>
        @foreach (var item in Model.Where(x => x.Date.Date == DateTime.Now.Date))
        {
            <div class="task @(item.IsDone ? "done" : "")">
                <p class="text-right">
                    <a href="@Url.Action("Remove", "Task", new {id = item.Id})" class="btn btn-danger small-btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    @if (!item.IsDone)
                    {
                        <a href="@Url.Action("Done", "Task", new {id = item.Id})" class="btn btn-success small-btn"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                    }
                </p>
                <h4><b>@item.Name</b></h4>
                <hr/>
                <p>
                    @(item.Description != null ? Html.Raw(item.Description.Replace("\n", "<br/>")) : new MvcHtmlString(""))
                </p>
            </div>
        }
    </div>
    <div class="col-md-3 tommorow smaller full-height">
        <h3 class="text-center">Tomorrow</h3>
        @foreach (var item in Model.Where(x => x.Date.Date == (DateTime.Now.Date.AddDays(1))))
        {
            <div class="task @(item.IsDone ? "done" : "")">
                <p class="text-right">
                    <a href="@Url.Action("Remove", "Task", new {id = item.Id})" class="btn btn-danger small-btn"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </p>
                <h4><b>@item.Name</b></h4>
                <hr/>
                <p>
                    @(item.Description != null ? Html.Raw(item.Description.Replace("\n", "<br/>")) : new MvcHtmlString(""))
                </p>
            </div>
        }
    </div>
</div>