@using ToDo.Helpers.Html
@model ToDo.ViewModels.HomeViewModel

@section Nav
{
    <li>
        <p class="navbar-btn">
            @Html.ActionLink("New task", "Create", new { controller = "Task" }, new { @class = "btn btn-success" })
        </p>
    </li>
}

<div class="row" style="height: 100%">
    <div class="col-md-3 yesterday smaller full-height">
        <h3 class="text-center">Yesterday</h3>
        @foreach (var item in Model.YesterdayTasks)
        {
            @Html.Partial("Partial/TaskPartialView", item)
        }
    </div>
    <div class="col-md-6 today full-height">
        <h3 class="text-center">Today</h3>
        @foreach (var item in Model.TodayTasks)
        {
            <div class="task @(item.IsDone ? "done" : "")">
                <p class="text-right">
                    @Html.RemoveButton(item.Id)
                    @if (!item.IsDone)
                    {
                        @Html.DoneButton(item.Id)
                    }
                </p>
                <h4><b>@item.Name</b></h4>
                <hr/>
                <p>
                    @Html.DisplayDescription(item.Description)
                </p>
            </div>
        }
    </div>
    <div class="col-md-3 tommorow smaller full-height">
        <h3 class="text-center">Tomorrow</h3>
        @foreach (var item in Model.TomorrowTasks)
        {
            @Html.Partial("Partial/TaskPartialView", item)
        }
    </div>
</div>